@font-face {
    font-family: 'Coral Lovers';
    src: url('../fonts/corallovers.otf') format('opentype');
  }

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    display: block;
    background-color: #242222;
    margin: 0 auto;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
    font-family: 'Coral Lovers',Georgia, 'Times New Roman', Times, serif;
}

p {
    line-height: 1.5em;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.home-view, .menu-view, .about-view,
 .events-view, .contact-view{
    display: flex;
    position: relative;
    color: aliceblue;
    max-width: 1800px;
    margin: 0 auto;
}

.home-view {
    max-width: none;
}


/* nav bar for scrolling */
  
.nav-bar {
    top: 0;
    position: sticky;
    z-index: 1;
    display: flex;
    background-color: rgba(234, 112, 51, 0.9);
    justify-content: center;
  }
  
  .nav-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-bar li {
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
  }
  
  .nav-bar a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
    font-size: 1em;
  }
  
  .nav-bar a:hover{
    color: #ffffff;
  }

.hidden {
    position: absolute;
    top: 0;
    right: 0;
    width: 15%;
    height: auto;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-color: rgba(234, 112, 51, 0.85);
}

.ul-list-hidden {
    list-style-type: none;
    padding-top: 15%;
    display: flex;
    flex-direction: column;
  }
  
  .home-nav-bar-li {
    background-color: #000000;
  }

.nav-bar a.active,
.nav-bar .active .nav-link {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}


@media only screen and (max-width: 768px) {
    .nav-bar li {
      margin: 0 5px;
    }
  }

  
/* home page */

.home_img {
    width: 100%;
    object-fit: cover;
}

.border {
    position: absolute;
    top: 7.5%;
    left: 5%;
    width: 75%;
    height: 85%;
    border: 2px solid #ffff;
}

.sattuma-text {
    align-self: center;
    left: 10%;
    position: absolute;
    font-size: 7vw;
    text-transform: uppercase;
}

.cafe-text {
    bottom: 10%;
    left: 59%;
    position: absolute;
    font-size: 8vw;
}

/* menu page */

.menu-view {
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.menu-text {
    border-bottom: 1px solid #ffff;
    border-top: 1px solid #ffff;
    align-self: center;
    margin-right: 8%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    font-size: 8em;
    text-transform: uppercase;
}

.menu-grid {
    display: grid;
    width: 70%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px;
  }

.item-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80%;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    background-color: rgba(15, 11, 49, 0.7);
    transform: translateY(70%);
    transition: transform 0.5s ease;
}

.item-header {
    font-size: 2.8em;
    text-transform: uppercase;
}

.hidden-text {
    margin-top: 4%;
    font-size: 1em;
}

.menu-item:hover .item-text {
    transform: translateY(0);
}
  
.menu-item {
    position: relative;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
  
.menu-img {
    width: 100%;
    object-fit: cover;
}

.drink {
    background-color: rgba(234, 112, 51, 0.7)
}

/* about page */

.about-view {
    justify-content: center;
    align-items: center;
}

.interior-img {
    width: 90%;
    object-fit: cover;
}

.about-container {
    display: flex;
    justify-content: center;
    position: absolute;
    width: clamp(0px, 75%, 1000px);
    height: clamp(0px, 70%, 550px);
    background-color: rgba(15, 11, 49, 0.8);
}

.about-header {
    position: absolute;
    padding-top: 10%;
    font-size: 4.5em;
    text-transform: uppercase;
}

.about-paragraph {
    position: absolute;
    text-align: center;
    padding-top: 25%;
    width: clamp(0px, 75%, 600px);
    font-size: 1.2em;
}

.about-button {
    border: none;
    position: absolute;
    margin-top: 44%;
    padding: 2%;
    font-size: 1.5em;
    text-transform: uppercase;
    background-color: rgba(234, 112, 51, 0.85);
    color: #ffff;
    transition: 0.5s;
}

.about-button:hover {
    color: rgba(234, 112, 51, 0.85);
    background-color: #ffff;
}

.horizontal-line {
    position: absolute;
    margin-top: 21%;
    border-top: 1px solid #ffff;
    width: 25%;
  }

/* events page */

.events-view {
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 4%;
    padding-right: 4%;
    justify-content: center;
    max-width: 1200px;
}

.events-img {
    width: 500px;
    height: 750px; 
    object-fit: cover; 
    object-position: 60% 40%;
    margin-right: 2vw;
}

.event-border {
    display: flex;
    justify-content: center;
    width: 60%;
    height: auto;
    border: 2px solid #ffff;
}

.events-header {
    position: absolute;
    margin-top: 6%;
    font-size: 4em;
    color: rgba(234, 112, 51, 1);
}

.events-paragraph {
    align-self: center;
    position: absolute;
    text-align: center;
    width: clamp(0px, 43%, 450px);
    font-size: 1.3em;
}

.event-button {
    border: none;
    position: relative;
    padding: 3%;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #ffff;
    background-color: #242222;
    border: 1px solid rgba(234, 112, 51, 1);
    transition: 0.5s;
    align-self: flex-end;
    bottom: 7%;
}

.event-button:hover {
    color: rgba(234, 112, 51, 0.85);
    background-color: #ffff;
}

/* contact page */

.contact-view {
    padding-bottom: 10%;
}

.contact-img {
    width: 100%;
    object-fit: cover; 
}

/* footer */

.footer {
    background-color: #ffffff;
    color: #242222;
    padding: 30px 0;
    text-align: center;
  }
  
  .footer-content {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .footer p {
    margin: 8px 0;
  }
  
  .footer p {
    font-size: 1em;
    color: #242222;
    text-decoration: none;
  }
  
  .footer p:hover {
    text-decoration: underline;
  }
  
@media (max-width: 1200px) {

    .nav-bar li, .home-nav-bar li, .footer p {
        font-size: 1.5vw;
    }

    .menu-text {
        font-size: 9vw;
    }

    .item-header {
        font-size: 3.5vw;
    }
    
    .about-header {
        font-size: 5.5vw;
    }
    .about-paragraph {
        font-size: 1.8vw;
    }
    .about-button {
        font-size: 2.5vw;
    }

    .events-header {
        font-size: 5.5vw;
    }

    .events-paragraph {
        font-size: 1.7vw;
    }

    .event-button {
        font-size: 2vw;
    }
}

@media (max-width: 1700px) {
    .events-img {
        width: 30vw; 
        height: 45vw;
    }
}